.custom{
    width: 150px;
    margin-bottom: 10px;
}
.search{
    padding-left: 10px;
    padding-top: 51px;
}
.searchIcon{
    padding-top: 67px;
    width: 20%;
    cursor: pointer;
}
.default{
    width: 150px;
}